<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>events24/7</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">


  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="">events24/7</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cta">Subscribe</a>
            </li>
            <li class="nav-item">
              <form action="/register" method="get">
                <input type="submit" class="btn btn-outline-light" value="Register" />
              </form>
            </li>
            <li class="nav-item">
              <form action="/login" method="get">
                <input type="submit" class="btn btn-outline-light" value="Login" />
              </form>
            </li>
          </ul>

        </div>
      </nav>


      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">Enabling Extraordinary Event Experience Everytime</h1>
        </div>

        <div class="col-lg-6">
          <img class="title-image" src="images/event.png" alt="event">
        </div>

      </div>

    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Experience</h3>
          <p>We understand the exact needs of our clients</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Focus</h3>
          <p>We are precise in each and every detail</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Passion</h3>
          <p>Every event is our passion to create exception and uniqueness</p>
        </div>
      </div>


    </div>
  </section>


  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#testimonial-carousel" data-slide-to="1"></li>
        <li data-target="#testimonial-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h4 class="testimonial-text">"Thank you very sincerely for your expert services in the production of the Roundtable's Summer Celebration. To say that "we couldn't have done it without you" is a gross understatement... and you can quote me
            on that!"</h4>
          <img class="testimonial-image" src="images/girl.png" alt="girl-profile">
          <em>Devi, Chennai</em>
        </div>
        <div class="carousel-item container-fluid">
          <h4 class="testimonial-text">"The amount of time you and your staff put into the implementation, from planning, to set-up, to clean-up was exceptional. It is clear that your work and tending to every little detail has greatly contributed to
            the success of the show."</h4>
          <img class="testimonial-image" src="images/businesswoman.png" alt="woman-profile">
          <em>Priya, Delhi</em>
        </div>
        <div class="carousel-item container-fluid">
          <h4 class="testimonial-text">"A big thank you to you and your entire staff on your fantastic work. You have a top notch operation. The Better Buildings by Design Conference could not achieve its success without you.""</h4>
          <img class="testimonial-image" src="images/businessman.png" alt="man-profile">
          <em>Shiva, Mumbai</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>


  <!-- Press -->
  <!--
  <section class="colored-section" id="press">
    <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="images/mashable.png" alt="mashable-logo">

  </section>
-->

  <!-- Pricing -->

  <section class="white-section" id="pricing">

    <h2 class="section-heading">Membership Plan for Everyone's Events</h2>
    <p>Avail exciting membership discounts</p>

    <div class="row">

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Silver</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">₹10,000 / year</h2>
            <p>Discount on upto 10 hours of event coverage</p>
            <p>2 gift prints</p>
            <p>Limited benefits</p>
            <button class="btn btn-lg btn-block btn-outline-dark" type="button">Enroll</button>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Gold</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">₹25,000 / year</h2>
            <p>Discount on upto 30 hours of event coverage</p>
            <p>3 gift prints</p>
            <p>Moderate benefits</p>
            <button class="btn btn-lg btn-block btn-dark" type="button">Enroll</button>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Platinum</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">₹50,000 / year</h2>
            <p>Discount on upto 60 hours of event coverage</p>
            <p>4 gift prints</p>
            <p>Great benefits</p>
            <p>Digital Photo Album</p>
            <button class="btn btn-lg btn-block btn-dark" type="button">Enroll</button>

          </div>
        </div>
      </div>


    </div>

  </section>


  <!-- Call to Action -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">

      <h3 class="big-heading">Immersive conference, memorable themed party, interactive exhibition.. As long as you name it, we got it..</h3>
      <!--  <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-apple"></i> Download</button>
      <button class="download-button btn btn-lg brn-light" type="button"><i class="fab fa-google-play"></i> Download</button>
    -->
    </div>
  </section>

  <!-- Services -->
  <section class="white-section" id="services">

    <h2 class="section-heading">Services</h2>

    <div class="row">

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img class="service_img" src="images/s1_mgmt.png" alt="Management">
            <h4>Event Management</h4>
            <form action="/services" method="post">
              <input type="submit" class="btn btn-outline-info" value="Know more" />
              <input type="hidden" name="service" value="Event Management">
            </form>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img class="service_img" src="images/s2_travel.png" alt="Destination">
            <h4>Destination Expertise</h4>
            <form action="/services" method="post">
              <input type="submit" class="btn btn-outline-info" value="Know more" />
              <input type="hidden" name="service" value="Destination Expertise">
            </form>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-body">
            <img class="service_img" src="images/s3_multimedia.png" alt="Multimedia">
            <h4>Multimedia Support</h4>
            <form action="/services" method="post">
              <input type="submit" class="btn btn-outline-info" value="Know more" />
              <input type="hidden" name="service" value="Multimedia Support">
            </form>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-body">
            <img class="service_img" src="images/s4_entertainment.png" alt="Entertainment">
            <h4>Entertainment</h4>
            <form action="/services" method="post">
              <input type="submit" class="btn btn-outline-info" value="Know more" />
              <input type="hidden" name="service" value="Entertainment">
            </form>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-body">
            <img class="service_img" src="images/s5_transfer.png" alt="Transfer Arrangement">
            <h4>Transfer Arrangement</h4>
            <form action="/services" method="post">
              <input type="submit" class="btn btn-outline-info" value="Know more" />
              <input type="hidden" name="service" value="Transfer Arrangement">
            </form>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-body">
            <img class="service_img" src="images/s6_manpower.png" alt="Manpower">
            <h4>Manpower Support</h4>
            <form action="/services" method="post">
              <input type="submit" class="btn btn-outline-info" value="Know more" />
              <input type="hidden" name="service" value="Manpower Support">
            </form>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!-- Footer -->

  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2020 events24/7</p>
    </div>
  </footer>


</body>

</html>
